@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/*Anasayfa için CSS*/
.anasayfaa{
    margin: 0;
    padding: 0;
    background: #dfa;
}
.anaKısım .navbar{
    width: 100%;
    height: 80px;
    background-color: rgb(22, 112, 214, 0.4);
}
.navbar .logo{
    display: inline-block;
    font-size: 25px;
    color: #495560;
    margin-left: 50px;
    margin-top: 0px;
    font-family: sans-serif;
}
.navbar .logo .fa-solid{
    margin-right: 8px;
    font-size: 25px;
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family: Roboto;
    transition: .5s;
}
.navbar ul li a.aktif,
.navbar ul li a:hover {
    background: rgb(14, 135, 153);
    border-radius: 2px;
}
.navbar .fas{
    margin-right: 8px;
    font-size: 15px;
}
.hakkımda{
    background: rgb(234, 233, 233);
    width: 600px;
    height: 175px;
    border-radius: 30px;
    margin: 40px 80px 90px 450px;
}
.hakkımda h3{
    color: rgb(87, 21, 21);
    background: #ccc;
    border-radius: 15px;
    width: 200px;
    margin: auto;
    text-align: center;
}
.hakkımda p{
    color: #495560;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
.grid .g-col-6{
    margin: 10px 20px 200px 50px;
    float: left;
}
/*LOGIN SAYFASI İÇİN CSS*/
.loginsayfa{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.bodyy{
    display: grid;
    height: 100vh;
    place-items: center;
    background: linear-gradient(to right,#dfa 0%, rgb(119, 194, 175) 100%);
}

.anaKısımLogin{
    background: #fff;
    max-width: 350px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    position: relative;
}
.anaKısımLogin .logologin img{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 70%;
    top: 5px;
    border-radius: 50%;
    border: 5px solid transparent;
}
.anaKısımLogin form .titleLogo{
    font-size: 30px;
    font-weight: 600;
    margin: 20px 10px 0;
    position: relative;
}
.anaKısımLogin form .titleLogo::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 33px;
    bottom: 2px;
    left: 0;
    border-radius: 5px;
    background: rgb(9, 165, 170);
}
.anaKısımLogin form .girisKutusu{
    width: 100%;
    height: 45px;
    margin-top: 25px;
    position: relative;
}
.anaKısımLogin form .girisKutusu input{
    height: 100%;
    width: 100%;
    font-size: 15px;
    outline: none;
    border: none;
}
.anaKısımLogin form .underLine::before{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background: #ccc;
    left: 0;
    bottom: 0;
}
.anaKısımLogin form .underLine::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background: red;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease;
}
.anaKısımLogin form .girisKutusu:focus ~ .underLine::after,
.anaKısımLogin form .girisKutusu input:valid ~ .underLine::after{
    transform: scaleX(1);
    transform-origin: left;
}
.anaKısımLogin form .butongiris{
    margin: 40px 0 20px 0;
}
.anaKısımLogin form .girisKutusu input[type="submit"]{
    font-size: 17px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    background: red;
    transition: all 0.3s ease;
}
.anaKısımLogin form .girisKutusu input[type="submit"]:hover{
    letter-spacing: 1px;
    background: gray;
    color: red;
    font-weight: bold;
    border-radius: 10px;
}
.anaKısımLogin .yazi{
    font-size: 14px;
    align-items: center;
}
.anaKısımLogin .github a,
.anaKısımLogin .linkedin a,
.anaKısımLogin .anaSayfaLogin a{
    display: block;
    width: 100%;
    height: 45px;
    font-size: 15px;
    text-decoration: none;
    padding-left: 20px;
    color: #fff;
    line-height: 45px;
    border-radius: 5px;
}
.anaKısımLogin .github a{
    background-color: #24292e;
    margin: 20px 0 15px 0;
}
.anaKısımLogin .github a:hover{
    background-color: #6d7e8f;
}
.anaKısımLogin .linkedin a{
    background-color: #0e76a8;
    margin: 20px 0 15px 0;
}
.anaKısımLogin .linkedin a:hover{
    background-color: #6d7e8f;
}
.anaKısımLogin .anaSayfaLogin a{
    background-color: rgb(29, 94, 29);
    margin: 20px 0 50px 0;
}
.anaKısımLogin .anaKısımLogin a:hover{
    background-color: #6d7e8f;
}
.anaKısımLogin .github i,
.anaKısımLogin .linkedin i,
.anaKısımLogin .anaSayfaLogin i{
    font-size: 22px;
    padding-right: 22px;
}
/*ÖZGEÇMİŞİM SAYFASI*/
.ozgecmis{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,#dfa 0%, rgb(119, 194, 175) 100%);
    height: 100vh;
    background-size: 100% 100%;
}
header{
    width: 100%;
    height: 80px;
    background-color: rgb(22, 112, 214, 0.4);
}
header .logo{
    display: inline-block;
    font-size: 25px;
    color: #495560;
    margin-left: 50px;
    margin-top: 25px;
    font-family: sans-serif;
}
header .logo .fa-solid{
        margin-right: 8px;
        font-size: 25px;
}
header ul{
    float: right;
    margin-right: 20px;
}
header ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
header ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family: Roboto;
    transition: .5s;
}
header ul li a:hover {
    background: rgb(36, 144, 160);
    border-radius: 2px;
}
header .fas{
    margin-right: 8px;
    font-size: 15px;
}
main article h2{
    text-align: center;
    color: #0e76a8;
}
main section h3{
    color: black;
    margin-left: 20px;
    margin-top: auto;
}
main section p{
    color: #24292e;
    margin-left: 24px;
}
footer ul {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    color: #24292e;
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 100%;
    background-color: #dfa;
    text-align: center;
}
/*İLETİŞİM SAYFASI*/
.iletisim{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,#dfa 0%, rgb(119, 194, 175) 100%);
    height: 100vh;
    background-size: 100% 100%;
}
.iletisim .navbar{
    width: 100%;
    height: 80px;
    background-color: rgb(22, 112, 214, 0.4);
}
.iletisim .navbar .logo{
    display: inline-block;
    font-size: 25px;
    color: #495560;
    margin-left: 50px;
    margin-bottom: 50px;
    font-family: sans-serif;
}
.iletisim .navbar  .logo .fa-solid{
        margin-right: 8px;
        font-size: 25px;
}
.iletisim .navbar  ul{
    float: right;
    margin-right: 20px;
}
.iletisim .navbar  ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
.iletisim .navbar  ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family: Roboto;
    transition: .5s;
}
.iletisim .navbar  ul li a:hover {
    background: rgb(36, 144, 160);
    border-radius: 2px;
}
.iletisim .navbar  .fas{
    margin-right: 8px;
    font-size: 15px;
}
.iletisim h3{
    margin-top: 10px;
    text-align: center;
}
.row{
    width: 50%;
    height: 50%;
}
.row .col{
    margin: 10px 8px 15px 8px;
    font-size: 18px;
    color: #24292e;
}
.form-check{
    margin-left: 15px;
}
.kapsar{
    font-family: sans-serif;
}
/*ŞEHRİM SAYFASI İÇİN CSS*/
.sehrimSayfa{
    margin: 0;
    padding: 0;
    background: #dfa;
    height: 100vh;
    background-size: 100% 100%;
    display: grid;
}

.Bolu{
    display: grid;
    height: 100vh;
    background: rgb(234, 240, 226);
    width: 40%;
    height: 580px;
    border-radius: 10px;
    place-items: center;
    margin: 60px 20px 20px 90px;
}
.Bolu .logosehrim img{
    position: absolute;
    width: 100px;
    height: 60px;
    left: 38%;
    top: 40px;
    border: 5px solid transparent;
    margin-top: 110px;
    
}
.Bolu .titleLogo{
    color: brown;
}
.bilgi p{
    color: #495560;
}
.bilgi h4{
    color: rgb(37, 94, 77);
}
.bilgi ul li{
    list-style-type: circle;
    color: #3f4953;
}
.Gerede{
    display: grid;
    height: 100vh;
    background: rgb(234, 240, 226);
    width: 40%;
    height: 580px;
    border-radius: 10px;
    place-items: center;
    margin: 30px 200px 20px 820px;
    position: absolute;
    margin-top: 140px;
    
}
.Gerede .logosehrim img{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 84%;
    top: 8px;
    border: 5px solid transparent;
}
.Gerede .titleLogo{
    color: brown;
}
#carouselExampleCaptions{
    width: 650px;
    height: 380px;
    margin: 50px 450px ;
}
.shrbilgi{
    border-radius: 35px;
    background: rgb(205, 229, 170);
    width: 70%;
    height: 800px;
    margin: auto;
}
.shrbilgi ul li{
    color: rgb(200, 148, 81); 
}
.sehrimSayfa .navbar{
    width: 100%;
    height: 80px;
    background-color: rgb(22, 112, 214, 0.4);
}
.sehrimSayfa .navbar .logo{
    display: inline-block;
    font-size: 25px;
    color: #495560;
    margin-left: 50px;
    margin-top: 0px;
    font-family: sans-serif;
}
.sehrimSayfa .navbar .logo .fa-solid{
    margin-right: 8px;
    font-size: 25px;
}
.sehrimSayfa .navbar ul{
    float: right;
    margin-right: 20px;
}
.sehrimSayfa .navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
.sehrimSayfa .navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family: Roboto;
    transition: .5s;
}
.sehrimSayfa .navbar ul li a.aktif,
.sehrimSayfa .navbar ul li a:hover {
    background: rgb(14, 135, 153);
    border-radius: 2px;
}
